.boat_display {
  width: 60vw;
  background-color: #ffffff;
  position: relative;
}

.metadata_panel {
  position: absolute;
  color: #42474f;
  height: 150px;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.boat_name {
  font-size: 48px;
  font-weight: 700;
  font-family: 'Arial';
  margin-left: 50px;
}

.boat_metadata {
  box-sizing: border-box;
  text-align: right;
  font-family: 'Arial';
  font-weight: 700;
  font-size: 20px;
  margin-right: 50px;
}
