.boat_display {
  width: 60vw;
  position: relative;
}

.metadata_panel {
  position: absolute;
  color: #42474f;
  height: 150px;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.boat_name {
  font-size: 48px;
  font-weight: 700;
  font-family: 'Arial';
  margin-left: 50px;
  margin-top: 20px;
}

.boat_metadata {
  box-sizing: border-box;
  text-align: right;
  font-family: 'Arial';
  font-weight: 700;
  font-size: 16px;
  margin-right: 50px;
  line-height: 30px;
}
.price {
  font-size: 26px;
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .boat_display {
    width: 100vw;
    height: 40%;
  }
  .metadata_panel {
    height: 100px;
  }
  .boat_name {
    font-size: 36px;
    margin-left: 25px;
  }
  .boat_metadata {
    margin-right: 25px;
  }
}
