.boat_display {
  width: 55vw;
  position: relative;
  transition: all 0.15s linear;
}
.boat_display_fullscreen {
  width: 100vw;
  position: relative;
  transition: all 0.15s linear;
}

.metadata_panel {
  position: absolute;
  color: #42474f;
  height: 150px;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.boat_name {
  font-size: 48px;
  font-weight: 700;
  font-family: 'Arial';
  margin-left: 50px;
  margin-top: 20px;
}

.boat_metadata {
  box-sizing: border-box;
  text-align: right;
  font-family: 'Arial';
  font-weight: 700;
  font-size: 16px;
  margin-right: 50px;
  line-height: 30px;
}
.price {
  font-size: 26px;
}

.fullscreen_toggle {
  height: 50px;
  width: 20px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #d3d3d3;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fullscreen_toggle > img {
  width: 100%;
  filter: contrast(0.2);
  transition: all 0.15s linear;
}
.arrow_close_rotate {
  transform: rotate(180deg);
  transition: all 0.15s linear;
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
  .fullscreen_toggle {
    display: none;
  }
  .boat_display {
    width: 100vw;
    height: 40%;
  }
  .metadata_panel {
    height: 100px;
  }
  .boat_name {
    font-size: 36px;
    margin-left: 25px;
  }
  .boat_metadata {
    margin-right: 25px;
  }
}
@media only screen and (max-width: 768px) and (orientation: portrait) {
  .metadata_panel {
    height: unset;
    align-items: center;
    margin-bottom: 3vw;
  }
  .boat_name {
    font-size: 24px;
    margin-left: 5vw;
    margin-top: 0;
  }
  .price {
    font-size: 18px;
  }
  .boat_metadata {
    font-size: 14px;
    line-height: 20px;
    margin-right: 5vw;
  }
}
