.view_container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  font-family: 'Poppins', sans-serif;
  position: relative;
}
.bottom-gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}
